{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

<html lang="en">
<style>
    img {
  border-radius: 40%;
}
</style>
<head>
    <meta charset="UTF-8">

</head>
<body>
    <header>
<h2>
    <img src="https://media.licdn.com/dms/image/v2/D4E03AQHlJVxVohgwMA/profile-displayphoto-shrink_400_400/B4EZZf3IjpHkAo-/0/1745365011022?e=1750896000&v=beta&t=mg87IW3YNtcSOZDunWgX0kLoW74QCN6h5KcsjK7UhRc" width="225" height="225" style="float:right">
Andrew Swartz
</h2>
        <p>Computer Science/Emerging Media Student │ Easton,PA</p>

    </header>

    <section id="about">
        <h2>About Me</h2>
        <p>Hello my name is Andrew Swartz! I am a Computer Science student at Ithaca College
        who is also majoring in Emerging Media. I have hands-on experience in Python and web development including
            Flask, and HTML/CSS.
            Developed a Flask-based dynamic virtual pet website and a forum website during academic projects.
            Seeking an entry-level role to apply my technical skills and grow in a collaborative environment.

        </p>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </section>

    <section id="education">
        <h2>Education</h2>
        <p style="text-align:left;">
    <strong>Ithaca College, School of Humanities and Science,</strong> Ithaca College, NY
    <span style="float:right;">
        Anticipated May 2027
    </span>

    <br>
            <span style="text-align:left;">
    Bachelor of Science in Computer Science
    <span style="float:right;">
        GPA: 3.5
    </span>
    <br>

    <span style="text-align:left;">
    Bachelor of Science in Computer Science
    </span>

    <p>Relevant Coursework:<br> Tamagotchi Web App <br> API Based Role Playing Game</p>
    <p>Extracurricular Achievements:<br> Dean’s List (Fall 2024) <br> WICB Radio DJ </p>

    <br>



            <p style="text-align:left;">
    <strong>Easton Area High School</strong> Easton, PA
    <span style="float:right;">
        Graduated May 2023
    </span>

    <br>
            <span style="text-align:left;">
    National Honors Society
    <span style="float:right;">
        GPA: 3.7
    </span>
    <br>

    </section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">


    <section id="skills">
        <h2>Skills</h2>
            <div class="skill-category">
                <ul>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Flask</li>
                    <li>React</li>
                    <li>Premiere Pro</li>
                    <li>Google Sheets</li>
                    <li>HTML</li>

                </ul>
            </div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </section>

        <section id="experience">
        <h2>Work Experience</h2>
        <div class="experience">
            <h3>Sub Shop Employee</h3>
            <p><strong>Wegmans</strong> | November 2023-Present</p>
            <ul>
                <li>Handled multiple tasks simultaneously while under pressure.</li>
                <li>Worked collaboratively with fellow employees to ensure smooth operations and customer satisfaction.</li>
                <li>Learned attention to detail to ensure an approachable, sanitary environment.</li>
            </ul>
            <h3>Customer Service Associate</h3>
            <p><strong>Walgreens</strong> | July 2021-August 2023</p>
            <ul>
                <li>Honed communication, problem-solving, and conflict resolution skills.</li>
                <li>Learned to collaborate with colleagues to manage the store and assist customers.</li>
                <li>Balanced tasks within specific timeframes.</li>
            </ul>
        </div>
    </section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<section id="addexperience">
        <h2>Additional Experience</h2>
        <div class="experience">
            <h3>President and Founder</h3>
            <a href="https://ithaca.campuslabs.com/engage/organization/ithacagamedevelopment" target="_blank"><strong>Ithaca Game Development Org</strong></a> <p>| March 2025-Present</p>
            <ul>
                <li>Conceptualized and founded club for game developers of any skill level</li>
                <li>Facilitated group engagement on the writing of our constitution</li>
                <li>Run the clubs social platforms such as Instagram, Discord and Engage</li>
                <li>Educate those interested in game development through presentations and Godot game engine demonstrations</li>
            </ul>
        </div>
    </section>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <section id="contact">
        <h2>Contact</h2>
        <p>Email: aswartz1@ithaca.edu</p>
        <p>Phone: (484) 541-9520</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/andrew-swartz-5b871b256/">linkedin.com/in/andrew-swartz</a></p>
    </section>
</body>
</html>

{% endblock %}
